@mixin hovereffects {
    background: $text-color;
    box-shadow: 0rem 1.5rem 2rem rgba(255,255,157,0.4);
    color: $body_color;
    transform: translateY(-0.7rem);
}

@mixin  mybtn {
    padding: 0.8rem 3.2rem;
    background-color: $button_color;
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    color: $body_color;
    border: none;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease all;
    cursor: pointer;
    border-radius: 4.5rem;
    outline: none;
    text-decoration: none;
}

@mixin content_center($flex_val) {
    display: flex;
    justify-content: center;
    align-items: $flex_val;
    flex-direction: column;
}
@mixin heading_2 {
    text-align: center;
    color: $text-color;
    font-size: 3rem;
    margin-bottom: 5rem;
    line-height: 100%;
    font-weight: 700; 
}
@mixin heading_5 {
    padding-top: 3rem;
    text-align: center;
    color: $text-color;
    font-size: 1.6rem;
    font-weight: 700; 
}
@mixin p {
    color: $text-color;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: 500;
    padding: 1rem 1rem;
}